#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"
                       "test-c"
                       "test-ui"]}]

 :fail-fast?                  false
 :color?                      false
 :reporter                    [kaocha.report/dots]
 ;;:reporter                  [kaocha.report.progress/report]
 ;;:reporter                  [kaocha.report/documentation]
 
 :plugins                     [:kaocha.plugin/filter
                               :kaocha.plugin/capture-output
                               :kaocha.plugin/print-invocations
                               :kaocha.plugin/profiling]

 :kaocha.plugin.randomize/randomize? false
 :kaocha.plugin.profiling/profiling? true}
