{ns fhir
 ;; TODO add more fields

 reference
 {:zen/tags #{zen/schema}
  :type zen/map
  :require #{:id :resourceType}
  :keys {:id {:type zen/string}
         :resourceType {:type zen/string}}}

 resource
 {:zen/tags #{zen/schema}
  :type zen/map
  :confirms #{reference}}

 patient
 {:zen/tags #{zen/schema}
  :confirms #{resource}
  :type zen/map
  :keys {:name {:type zen/vector
                :every {:type zen/map
                        :keys {:family {:type zen/string}
                               :given {:type zen/vector :every {:type zen/string}}}}}
         :birthDate {:type zen/datetime}}}

 practitioner
 {:zen/tags #{zen/schema}
  :confirms #{resource}
  :type zen/map
  :keys {:name {:type zen/vector
                :every {:type zen/map
                        :keys {:family {:type zen/string}
                               :given {:type zen/vector :every {:type zen/string}}}}}
         :birthDate {:type zen/datetime}}}


 

 }
