{ns fhir
 patient
 {:zen/tags #{zen/schema}
  :type zen/map
  :keys {:id {:type zen/string}
         :resourceType {:type zen/string}
         :name {:type zen/vector
                :every {:type zen/map
                        :keys {:family {:type zen/string}
                               :given {:type zen/vector :every {:type zen/string}}}}}
         :birthDate {:type zen/datetime}}}}
