{ns zen-ui
 import #{zenbox}

 navigation
 {:zen/tags #{zenbox/rpc}
  :zen/desc "Return navigation for zen models"}

 errors
 {:zen/tags #{zenbox/rpc}
  :zen/desc "Return errors"}

 get-symbol
 {:zen/tags #{zenbox/rpc}
  :zen/desc "Return symbol model"}

 rpc-methods
 {:zen/tags #{zenbox/rpc}
  :zen/desc "Return all rpc methods"}

 endpoints
 {:zen/tags #{zenbox/rpc}
  :zen/desc "Return all endpoints"}

 update-symbol
 {:zen/tags #{zenbox/rpc}
  :zen/desc "Update symbol in ns"}

 create-symbol
 {:zen/tags #{zenbox/rpc}
  :zen/desc "Create symbol in ns"}

 ;; views for models
 tag-view {:zen/tags #{zen/tag zen/schema}
           :zen/desc "Register view for specific tag"
           :type zen/map
           :require #{:title :slag}
           :keys {:tag   {:type zen/symbol :tags #{zen/tag}}
                  :width {:type zen/integer}
                  :slag  {:type zen/string}
                  :title {:type zen/string}}}


 view-for-schema
 {:zen/tags #{tag-view}
  :tag zen/schema
  :width 0
  :slag "schema"
  :title "Schema"}

 view-for-valueset
 {:zen/tags #{tag-view}
  :tag zen/valueset
  :width 0
  :slag "valueset"
  :title "Valueset"}

 view-for-tag
 {:zen/tags #{tag-view}
  :tag zen/tag
  :width 0
  :slag "tag"
  :title "Tag"}

 view-for-edn
 {:zen/tags #{tag-view}
  :width -1
  :slag "edn"
  :title "Edn"}

 view-for-rpc
 {:zen/tags #{tag-view}
  :width -1
  :slag "rpc"
  :title "RPC"
  :tag zenbox/rpc}

 view-for-api
 {:zen/tags #{tag-view}
  :width -1
  :slag "api"
  :title "API"
  :tag zenbox/api}

 view-for-validate
 {:zen/tags #{tag-view}
  :width -1
  :slag "validate"
  :title "Validate"
  :tag zen/schema}

 view-for-pg
 {:zen/tags #{tag-view}
  :width -1
  :slag "pg"
  :title "pg"
  :tag zenbox/pg}

 }
